USE [EBIke]
GO
/****** Object:  Table [dbo].[BikeReviews]    Script Date: 3/29/2026 11:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BikeReviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[BikeID] [int] NULL,
	[CustomerID] [int] NULL,
	[Rating] [int] NULL,
	[ReviewTitle] [nvarchar](200) NULL,
	[ReviewText] [nvarchar](2000) NULL,
	[IsVerified] [bit] NULL DEFAULT ((1)),
	[IsApproved] [bit] NULL DEFAULT ((0)),
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bikes]    Script Date: 3/29/2026 11:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bikes](
	[BikeID] [int] IDENTITY(1,1) NOT NULL,
	[DealerID] [int] NULL,
	[BrandID] [int] NULL,
	[ModelName] [nvarchar](150) NOT NULL,
	[Slug] [nvarchar](255) NULL,
	[Price] [decimal](18, 2) NULL,
	[RangeKM] [int] NULL,
	[BatteryType] [nvarchar](255) NULL,
	[MotorPower] [nvarchar](255) NULL,
	[TopSpeed] [int] NULL,
	[ChargingTime] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[Image1] [nvarchar](300) NULL,
	[Image2] [nvarchar](300) NULL,
	[Image3] [nvarchar](300) NULL,
	[IsApproved] [bit] NULL DEFAULT ((0)),
	[ApprovedAt] [datetime] NULL,
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
	[IsForRent] [bit] NULL DEFAULT ((0)),
	[RentPerDay] [decimal](18, 2) NULL,
	[RentPerWeek] [decimal](18, 2) NULL,
	[RentPerMonth] [decimal](18, 2) NULL,
	[IsUsed] [bit] NULL DEFAULT ((0)),
	[OwnerType] [nvarchar](10) NULL,
	[KMDriven] [int] NULL,
	[ManufactureYear] [int] NULL,
	[OwnerNumber] [int] NULL,
	[BikeCondition] [nvarchar](50) NULL,
	[BatteryHealth] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BikeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Brands]    Script Date: 3/29/2026 11:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[BrandID] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NULL DEFAULT ((1)),
	[LogoPath] [nvarchar](300) NULL,
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[BrandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cart]    Script Date: 3/29/2026 11:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[PartID] [int] NULL,
	[Qty] [int] NULL,
	[AddedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChargingStations]    Script Date: 3/29/2026 11:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChargingStations](
	[StationID] [int] IDENTITY(1,1) NOT NULL,
	[VendorID] [int] NULL,
	[StationName] [nvarchar](150) NULL,
	[Phone] [nvarchar](20) NULL,
	[City] [nvarchar](100) NULL,
	[Address] [nvarchar](250) NULL,
	[Latitude] [decimal](9, 6) NULL,
	[Longitude] [decimal](9, 6) NULL,
	[ConnectorType] [nvarchar](100) NULL,
	[IsApproved] [bit] NULL DEFAULT ((0)),
	[IsActive] [bit] NULL DEFAULT ((1)),
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[StationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DealerRatings]    Script Date: 3/29/2026 11:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DealerRatings](
	[RatingID] [int] IDENTITY(1,1) NOT NULL,
	[DealerID] [int] NULL,
	[CustomerID] [int] NULL,
	[Rating] [int] NULL,
	[Review] [nvarchar](1000) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RatingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DealerSubscriptionRequests]    Script Date: 3/29/2026 11:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DealerSubscriptionRequests](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[DealerID] [int] NULL,
	[PlanName] [nvarchar](50) NULL,
	[BikeLimit] [int] NULL,
	[FeaturedLimit] [int] NULL,
	[Amount] [decimal](18, 2) NULL,
	[Status] [nvarchar](20) NULL DEFAULT ('Pending'),
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
	[ApprovedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DealerSubscriptions]    Script Date: 3/29/2026 11:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DealerSubscriptions](
	[SubscriptionID] [int] IDENTITY(1,1) NOT NULL,
	[DealerID] [int] NULL,
	[PlanName] [nvarchar](50) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[MaxBikes] [int] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SubscriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EnquiryLogs]    Script Date: 3/29/2026 11:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnquiryLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[BikeID] [int] NULL,
	[IP] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FeaturedBikes]    Script Date: 3/29/2026 11:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeaturedBikes](
	[FeatureID] [int] IDENTITY(1,1) NOT NULL,
	[BikeID] [int] NULL,
	[DealerID] [int] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Leads]    Script Date: 3/29/2026 11:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leads](
	[LeadID] [int] IDENTITY(1,1) NOT NULL,
	[BikeID] [int] NULL,
	[CustomerID] [int] NULL,
	[Message] [nvarchar](1000) NULL,
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
	[IsViewed] [bit] NULL DEFAULT ((0)),
	[IsSpam] [bit] NULL DEFAULT ((0)),
	[LeadAmount] [decimal](18, 2) NULL DEFAULT ((0)),
	[IsSettled] [bit] NULL DEFAULT ((0)),
	[SettlementRequested] [bit] NULL DEFAULT ((0)),
	[SettlementDate] [datetime] NULL,
	[SettlementApprovedBy] [int] NULL,
	[SettlementApprovedAt] [datetime] NULL,
	[CommissionAmount] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[LeadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 3/29/2026 11:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[PartID] [int] NULL,
	[VendorID] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[Qty] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 3/29/2026 11:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[TotalAmount] [decimal](10, 2) NULL,
	[OrderStatus] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Parts]    Script Date: 3/29/2026 11:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parts](
	[PartID] [int] IDENTITY(1,1) NOT NULL,
	[VendorID] [int] NULL,
	[PartName] [nvarchar](150) NULL,
	[Category] [nvarchar](100) NULL,
	[Price] [decimal](10, 2) NULL,
	[Stock] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[Image1] [nvarchar](200) NULL,
	[IsApproved] [bit] NULL DEFAULT ((0)),
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[PartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RentalBookings]    Script Date: 3/29/2026 11:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalBookings](
	[RentalID] [int] IDENTITY(1,1) NOT NULL,
	[BikeID] [int] NULL,
	[CustomerID] [int] NULL,
	[DealerID] [int] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[TotalDays] [int] NULL,
	[RentAmount] [decimal](18, 2) NULL,
	[CommissionAmount] [decimal](18, 2) NULL CONSTRAINT [DF_Rental_Commission]  DEFAULT ((0)),
	[Status] [nvarchar](20) NULL DEFAULT ('Pending'),
	[IsViewed] [bit] NULL DEFAULT ((0)),
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
	[IsSettled] [bit] NULL DEFAULT ((0)),
	[SettlementID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RentalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ServiceCenters]    Script Date: 3/29/2026 11:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCenters](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[VendorID] [int] NULL,
	[CenterName] [nvarchar](150) NULL,
	[Phone] [nvarchar](20) NULL,
	[City] [nvarchar](100) NULL,
	[Address] [nvarchar](250) NULL,
	[ServiceType] [nvarchar](200) NULL,
	[IsApproved] [bit] NULL DEFAULT ((0)),
	[IsActive] [bit] NULL DEFAULT ((1)),
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Settlements]    Script Date: 3/29/2026 11:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settlements](
	[SettlementID] [int] IDENTITY(1,1) NOT NULL,
	[DealerID] [int] NULL,
	[TotalRevenue] [decimal](18, 2) NULL,
	[CommissionAmount] [decimal](18, 2) NULL,
	[NetAmount] [decimal](18, 2) NULL,
	[IsApproved] [bit] NULL DEFAULT ((0)),
	[ApprovedBy] [int] NULL,
	[ApprovedAt] [datetime] NULL,
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[SettlementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SiteSettings]    Script Date: 3/29/2026 11:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteSettings](
	[SettingID] [int] NOT NULL,
	[SiteTitle] [nvarchar](200) NULL,
	[Tagline] [nvarchar](300) NULL,
	[AdminEmail] [nvarchar](150) NULL,
	[SupportPhone] [nvarchar](20) NULL,
	[LogoPath] [nvarchar](300) NULL,
	[SMTPHost] [nvarchar](150) NULL,
	[SMTPPort] [int] NULL,
	[SMTPEmail] [nvarchar](150) NULL,
	[SMTPPassword] [nvarchar](200) NULL,
	[EnableSSL] [bit] NULL,
	[LeadPrice] [decimal](18, 2) NULL,
	[CommissionPercent] [decimal](5, 2) NULL,
	[MaintenanceMode] [bit] NULL,
	[MaintenanceMessage] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[SettingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubscriptionPlans]    Script Date: 3/29/2026 11:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscriptionPlans](
	[PlanID] [int] IDENTITY(1,1) NOT NULL,
	[PlanName] [nvarchar](50) NULL,
	[Price] [decimal](18, 2) NULL,
	[DurationDays] [int] NULL,
	[MaxBikes] [int] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PlanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/29/2026 11:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Mobile] [nvarchar](15) NULL,
	[PasswordHash] [nvarchar](500) NULL,
	[ShopName] [nvarchar](150) NULL,
	[GSTNo] [nvarchar](50) NULL,
	[City] [nvarchar](100) NULL,
	[Address] [nvarchar](500) NULL,
	[IsApproved] [bit] NULL DEFAULT ((1)),
	[ApprovedAt] [datetime] NULL,
	[IsActive] [bit] NULL DEFAULT ((1)),
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
	[ProfileImage] [nvarchar](300) NULL,
	[IsEmailVerified] [bit] NULL DEFAULT ((0)),
	[OTPCode] [nvarchar](10) NULL,
	[OTPExpiry] [datetime] NULL,
	[FailedLoginAttempts] [int] NULL DEFAULT ((0)),
	[LockoutEndTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Wishlist]    Script Date: 3/29/2026 11:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlist](
	[WishlistID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[BikeID] [int] NULL,
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[WishlistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BikeReviews] ON 

INSERT [dbo].[BikeReviews] ([ReviewID], [BikeID], [CustomerID], [Rating], [ReviewTitle], [ReviewText], [IsVerified], [IsApproved], [CreatedAt]) VALUES (1004, 2, 1003, 5, N'Amazing Scooter ??', N'Smooth ride and great pickup. Best for city.', 1, 1, CAST(N'2026-03-19 15:10:36.807' AS DateTime))
SET IDENTITY_INSERT [dbo].[BikeReviews] OFF
SET IDENTITY_INSERT [dbo].[Bikes] ON 

SET IDENTITY_INSERT [dbo].[Bikes] OFF
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([BrandID], [BrandName], [IsActive], [LogoPath], [CreatedAt]) VALUES (3, N'Ather-Energy', 1, N'ather-energy.jpg', CAST(N'2026-02-21 14:18:41.260' AS DateTime))
INSERT [dbo].[Brands] ([BrandID], [BrandName], [IsActive], [LogoPath], [CreatedAt]) VALUES (4, N'Bajaj', 1, N'bajaj.jpg', CAST(N'2026-02-21 14:20:27.247' AS DateTime))
INSERT [dbo].[Brands] ([BrandID], [BrandName], [IsActive], [LogoPath], [CreatedAt]) VALUES (5, N'Hero-Electric', 1, N'hero-electric.jpg', CAST(N'2026-02-21 14:20:46.120' AS DateTime))
SET IDENTITY_INSERT [dbo].[Brands] OFF
SET IDENTITY_INSERT [dbo].[ChargingStations] ON 

INSERT [dbo].[ChargingStations] ([StationID], [VendorID], [StationName], [Phone], [City], [Address], [Latitude], [Longitude], [ConnectorType], [IsApproved], [IsActive], [CreatedAt]) VALUES (1, 5, N'EV Fast Charge Jaipur', N'9876543210', N'Jaipur', N'MI Road, Near Metro Station', NULL, NULL, N'Fast DC', 1, 1, CAST(N'2026-03-17 14:54:57.750' AS DateTime))
INSERT [dbo].[ChargingStations] ([StationID], [VendorID], [StationName], [Phone], [City], [Address], [Latitude], [Longitude], [ConnectorType], [IsApproved], [IsActive], [CreatedAt]) VALUES (2, NULL, N'Green Charge Hub', N'9123456780', N'Udaipur', N'Sector 4, Main Road', NULL, NULL, N'AC + DC', 1, 1, CAST(N'2026-03-17 14:56:50.803' AS DateTime))
INSERT [dbo].[ChargingStations] ([StationID], [VendorID], [StationName], [Phone], [City], [Address], [Latitude], [Longitude], [ConnectorType], [IsApproved], [IsActive], [CreatedAt]) VALUES (3, NULL, N'Tata EV Charging Point', N'9999999999', N'Delhi', N'Connaught Place', NULL, NULL, N'Fast DC', 1, 1, CAST(N'2026-03-17 14:58:09.590' AS DateTime))
SET IDENTITY_INSERT [dbo].[ChargingStations] OFF
SET IDENTITY_INSERT [dbo].[DealerSubscriptionRequests] ON 

INSERT [dbo].[DealerSubscriptionRequests] ([RequestID], [DealerID], [PlanName], [BikeLimit], [FeaturedLimit], [Amount], [Status], [CreatedAt], [ApprovedAt]) VALUES (7, 5, N'Combo', 50, 3, CAST(2499.00 AS Decimal(18, 2)), N'Approved', CAST(N'2026-03-07 16:19:35.323' AS DateTime), CAST(N'2026-03-07 16:19:57.157' AS DateTime))
SET IDENTITY_INSERT [dbo].[DealerSubscriptionRequests] OFF
SET IDENTITY_INSERT [dbo].[DealerSubscriptions] ON 

INSERT [dbo].[DealerSubscriptions] ([SubscriptionID], [DealerID], [PlanName], [StartDate], [EndDate], [MaxBikes], [IsActive]) VALUES (1, 5, N'Combo', CAST(N'2026-03-07 16:19:57.153' AS DateTime), CAST(N'2026-06-07 16:19:57.153' AS DateTime), 50, 1)
SET IDENTITY_INSERT [dbo].[DealerSubscriptions] OFF
SET IDENTITY_INSERT [dbo].[FeaturedBikes] ON 

INSERT [dbo].[FeaturedBikes] ([FeatureID], [BikeID], [DealerID], [StartDate], [EndDate], [IsActive]) VALUES (1, 2012, 5, CAST(N'2026-03-14 14:14:27.067' AS DateTime), CAST(N'2026-03-21 14:14:27.067' AS DateTime), 0)
INSERT [dbo].[FeaturedBikes] ([FeatureID], [BikeID], [DealerID], [StartDate], [EndDate], [IsActive]) VALUES (2, 6, 5, CAST(N'2026-03-14 14:14:37.860' AS DateTime), CAST(N'2026-03-21 14:14:37.860' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[FeaturedBikes] OFF
SET IDENTITY_INSERT [dbo].[Leads] ON 

INSERT [dbo].[Leads] ([LeadID], [BikeID], [CustomerID], [Message], [CreatedAt], [IsViewed], [IsSpam], [LeadAmount], [IsSettled], [SettlementRequested], [SettlementDate], [SettlementApprovedBy], [SettlementApprovedAt], [CommissionAmount]) VALUES (1, 1013, 1003, N'I am interested in this bike. Please contact me.', CAST(N'2026-03-04 16:03:47.703' AS DateTime), 1, 0, CAST(0.00 AS Decimal(18, 2)), 1, 1, NULL, NULL, CAST(N'2026-03-14 14:08:29.087' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Leads] OFF
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([ItemID], [OrderID], [PartID], [VendorID], [Price], [Qty]) VALUES (1002, 1002, 1005, 4, CAST(1200.00 AS Decimal(10, 2)), 2)
INSERT [dbo].[OrderItems] ([ItemID], [OrderID], [PartID], [VendorID], [Price], [Qty]) VALUES (1003, 1003, 1002, 5, CAST(3200.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[OrderItems] ([ItemID], [OrderID], [PartID], [VendorID], [Price], [Qty]) VALUES (1004, 1004, 1006, 5, CAST(2200.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [UserID], [TotalAmount], [OrderStatus], [CreatedAt]) VALUES (1002, 1003, CAST(2400.00 AS Decimal(10, 2)), N'Pending', CAST(N'2026-03-19 09:58:59.990' AS DateTime))
INSERT [dbo].[Orders] ([OrderID], [UserID], [TotalAmount], [OrderStatus], [CreatedAt]) VALUES (1003, 1003, CAST(3200.00 AS Decimal(10, 2)), N'Pending', CAST(N'2026-03-19 12:41:19.060' AS DateTime))
INSERT [dbo].[Orders] ([OrderID], [UserID], [TotalAmount], [OrderStatus], [CreatedAt]) VALUES (1004, 1003, CAST(9700.00 AS Decimal(10, 2)), N'Pending', CAST(N'2026-03-19 15:13:30.130' AS DateTime))
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[Parts] ON 

INSERT [dbo].[Parts] ([PartID], [VendorID], [PartName], [Category], [Price], [Stock], [Description], [Image1], [IsApproved], [CreatedAt]) VALUES (27, 5, N'High-Performance Lithium Battery (60V 30Ah)', N'Battery', CAST(27500.00 AS Decimal(10, 2)), 10, N'', N'lioncell.jpg', 1, CAST(N'2026-03-17 17:36:03.290' AS DateTime))
INSERT [dbo].[Parts] ([PartID], [VendorID], [PartName], [Category], [Price], [Stock], [Description], [Image1], [IsApproved], [CreatedAt]) VALUES (1002, 5, N'Digital Smart LCD Display Control Unit', N'Electronics', CAST(3200.00 AS Decimal(10, 2)), 24, N'Waterproof LCD display showing speed, battery level, and ODO meter. Compatible with most controllers.', N'display.jpg', 1, CAST(N'2026-03-18 14:29:46.580' AS DateTime))
INSERT [dbo].[Parts] ([PartID], [VendorID], [PartName], [Category], [Price], [Stock], [Description], [Image1], [IsApproved], [CreatedAt]) VALUES (1003, 5, N'250W Brushless DC Hub Motor (Rear)', N'Motor', CAST(7500.00 AS Decimal(10, 2)), 7, N'Quiet and efficient 250W BLDC motor for smooth city riding and uphill assistance.', N'DcMotor.jpg', 1, CAST(N'2026-03-18 14:29:46.580' AS DateTime))
SET IDENTITY_INSERT [dbo].[Parts] OFF
SET IDENTITY_INSERT [dbo].[RentalBookings] ON 

INSERT [dbo].[RentalBookings] ([RentalID], [BikeID], [CustomerID], [DealerID], [StartDate], [EndDate], [TotalDays], [RentAmount], [CommissionAmount], [Status], [IsViewed], [CreatedAt], [IsSettled], [SettlementID]) VALUES (1, 2012, 1003, 5, CAST(N'2026-03-11' AS Date), CAST(N'2026-03-12' AS Date), 2, CAST(3000.00 AS Decimal(18, 2)), CAST(300.00 AS Decimal(18, 2)), N'Completed', 0, CAST(N'2026-03-10 14:38:59.650' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[RentalBookings] OFF
SET IDENTITY_INSERT [dbo].[ServiceCenters] ON 

INSERT [dbo].[ServiceCenters] ([ServiceID], [VendorID], [CenterName], [Phone], [City], [Address], [ServiceType], [IsApproved], [IsActive], [CreatedAt]) VALUES (2, NULL, N'Electric Bike Doctor', N'9123456781', N'Jaipur', N'Jagatpura', N'Motor Repair, Wiring', 1, 1, CAST(N'2026-03-17 15:54:19.590' AS DateTime))
INSERT [dbo].[ServiceCenters] ([ServiceID], [VendorID], [CenterName], [Phone], [City], [Address], [ServiceType], [IsApproved], [IsActive], [CreatedAt]) VALUES (9, NULL, N'Green Wheels Service', N'9123456782', N'Udaipur', N'Hiran Magri', N'Battery, Controller Repair', 1, 1, CAST(N'2026-03-17 15:59:07.717' AS DateTime))
INSERT [dbo].[ServiceCenters] ([ServiceID], [VendorID], [CenterName], [Phone], [City], [Address], [ServiceType], [IsApproved], [IsActive], [CreatedAt]) VALUES (11, 5, N'EV Care Hub', N'9123456780', N'Jaipur', N'Malviya Nagar', N'Battery Repair, General Service', 1, 1, CAST(N'2026-03-17 16:00:33.567' AS DateTime))
SET IDENTITY_INSERT [dbo].[ServiceCenters] OFF
SET IDENTITY_INSERT [dbo].[Settlements] ON 

INSERT [dbo].[Settlements] ([SettlementID], [DealerID], [TotalRevenue], [CommissionAmount], [NetAmount], [IsApproved], [ApprovedBy], [ApprovedAt], [CreatedAt]) VALUES (1, 5, CAST(3000.00 AS Decimal(18, 2)), CAST(300.00 AS Decimal(18, 2)), CAST(2700.00 AS Decimal(18, 2)), 0, NULL, NULL, CAST(N'2026-03-13 16:59:06.523' AS DateTime))
SET IDENTITY_INSERT [dbo].[Settlements] OFF
INSERT [dbo].[SiteSettings] ([SettingID], [SiteTitle], [Tagline], [AdminEmail], [SupportPhone], [LogoPath], [SMTPHost], [SMTPPort], [SMTPEmail], [SMTPPassword], [EnableSSL], [LeadPrice], [CommissionPercent], [MaintenanceMode], [MaintenanceMessage], [CreatedAt]) VALUES (1, N'EBikes Duniya', N'Electric · Freedom', N'admin@ebikes.com', N'9999999999', N'', N'', 5150, N'', NULL, 0, NULL, CAST(0.00 AS Decimal(5, 2)), 0, N'we add some additional feature in our website so it may take some time please comeback after 24hours', CAST(N'2026-02-14 12:52:00.230' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Role], [FullName], [Email], [Mobile], [PasswordHash], [ShopName], [GSTNo], [City], [Address], [IsApproved], [ApprovedAt], [IsActive], [CreatedAt], [ProfileImage], [IsEmailVerified], [OTPCode], [OTPExpiry], [FailedLoginAttempts], [LockoutEndTime]) VALUES (1, N'Admin', N'Super Admin', N'admin@ebikes.com', N'9999999999', N'admin123', NULL, NULL, NULL, NULL, 1, NULL, 1, CAST(N'2026-02-12 16:41:03.790' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Users] ([UserID], [Role], [FullName], [Email], [Mobile], [PasswordHash], [ShopName], [GSTNo], [City], [Address], [IsApproved], [ApprovedAt], [IsActive], [CreatedAt], [ProfileImage], [IsEmailVerified], [OTPCode], [OTPExpiry], [FailedLoginAttempts], [LockoutEndTime]) VALUES (4, N'Dealer', N'Kartik', N'sharmakartik8600@gmail.com', N'9630258741', N'Kartik@123', N'Akashdeep', NULL, N'Bhilwara', NULL, 1, NULL, 1, CAST(N'2026-02-16 14:45:44.827' AS DateTime), NULL, 1, N'476730', CAST(N'2026-02-16 14:55:44.830' AS DateTime), 0, NULL)
INSERT [dbo].[Users] ([UserID], [Role], [FullName], [Email], [Mobile], [PasswordHash], [ShopName], [GSTNo], [City], [Address], [IsApproved], [ApprovedAt], [IsActive], [CreatedAt], [ProfileImage], [IsEmailVerified], [OTPCode], [OTPExpiry], [FailedLoginAttempts], [LockoutEndTime]) VALUES (5, N'Dealer', N'Nikee Sahu', N'rajeshsahu3406@gmail.com', N'06375969141', N'Raju@123', N'Jaydeep', NULL, N'Bhilwara', NULL, 1, NULL, 1, CAST(N'2026-02-16 14:56:04.700' AS DateTime), NULL, 1, NULL, NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[Wishlist] ON 

INSERT [dbo].[Wishlist] ([WishlistID], [CustomerID], [BikeID], [CreatedAt]) VALUES (6085, 1003, 13, CAST(N'2026-03-15 18:16:56.433' AS DateTime))
INSERT [dbo].[Wishlist] ([WishlistID], [CustomerID], [BikeID], [CreatedAt]) VALUES (6093, 1003, 6, CAST(N'2026-03-15 18:25:09.070' AS DateTime))
INSERT [dbo].[Wishlist] ([WishlistID], [CustomerID], [BikeID], [CreatedAt]) VALUES (6105, 1003, 4012, CAST(N'2026-03-15 18:35:05.940' AS DateTime))
SET IDENTITY_INSERT [dbo].[Wishlist] OFF
/****** Object:  Index [UQ_User_BikeReview]    Script Date: 3/29/2026 11:49:12 AM ******/
ALTER TABLE [dbo].[BikeReviews] ADD  CONSTRAINT [UQ_User_BikeReview] UNIQUE NONCLUSTERED 
(
	[CustomerID] ASC,
	[BikeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Bikes__BC7B5FB656588630]    Script Date: 3/29/2026 11:49:12 AM ******/
ALTER TABLE [dbo].[Bikes] ADD UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ_Dealer_Bike]    Script Date: 3/29/2026 11:49:12 AM ******/
ALTER TABLE [dbo].[Bikes] ADD  CONSTRAINT [UQ_Dealer_Bike] UNIQUE NONCLUSTERED 
(
	[DealerID] ASC,
	[BrandID] ASC,
	[ModelName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Users__A9D10534051FE76F]    Script Date: 3/29/2026 11:49:12 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (getdate()) FOR [AddedAt]
GO
ALTER TABLE [dbo].[DealerRatings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SubscriptionPlans] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[BikeReviews]  WITH CHECK ADD FOREIGN KEY([BikeID])
REFERENCES [dbo].[Bikes] ([BikeID])
GO
ALTER TABLE [dbo].[BikeReviews]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Bikes]  WITH CHECK ADD FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brands] ([BrandID])
GO
ALTER TABLE [dbo].[Bikes]  WITH CHECK ADD FOREIGN KEY([DealerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[DealerRatings]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[DealerRatings]  WITH CHECK ADD FOREIGN KEY([DealerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Leads]  WITH CHECK ADD FOREIGN KEY([BikeID])
REFERENCES [dbo].[Bikes] ([BikeID])
GO
ALTER TABLE [dbo].[Leads]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[RentalBookings]  WITH CHECK ADD FOREIGN KEY([BikeID])
REFERENCES [dbo].[Bikes] ([BikeID])
GO
ALTER TABLE [dbo].[RentalBookings]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[RentalBookings]  WITH CHECK ADD FOREIGN KEY([DealerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Settlements]  WITH CHECK ADD FOREIGN KEY([DealerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD FOREIGN KEY([BikeID])
REFERENCES [dbo].[Bikes] ([BikeID])
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[BikeReviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[DealerRatings]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
